<h1>URL List</h1>

<table width="500" border="1">
  <tr>
    <th>Original</th>
    <th>Converted</th>
  </tr>
<% @urls.each do |t| %>
  <tr>
    <td><%= t.original %></td>
    <td><%= t.converted %></td>
  </tr>
<% end %>
</table>